/****
 * General
 */
body {
  font-size: 30px;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  color: #333;
}

#logoImage {
  height: 3em;
}

.mb-5 {
  margin-bottom: 100px;
}

.btn-wide {
  width: 100%;
  padding: 25px 0px;
  border-radius: 5px;
}

.block-color {
  padding: 15px;
  box-shadow: 5px 50px 200px #ccc;
  border-radius: 5px;
  padding: 50px 50px 300px 50px;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 12px;
  }
  #logoImage {
    height: 2.5em;
  }
  .mb-5 {
    margin-bottom: 0px;
  }
  .btn-wide {
    padding: 15px 0px;
  }
  .block-color {
    padding: 50px 50px 50px 50px;
  }
}

/***
 * Fonts
 */

h1 {
  font-size: 170%;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/***
 * Bootstrap
 */

.btn {
  font-size: 100%;
}

.btn-green {
  background: #2ad64a; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2ad64a 0%, #29d132 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2ad64a 0%,#29d132 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2ad64a 0%,#29d132 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ad64a', endColorstr='#29d132',GradientType=1 );
  opacity: 0.8;
}

.btn-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#307cf4+0,2e6aea+100 */
  background: #307cf4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #307cf4 0%, #2e6aea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #307cf4 0%,#2e6aea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #307cf4 0%,#2e6aea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307cf4', endColorstr='#2e6aea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity: 0.8;
}

.btn:hover {
  opacity: 1.0;
}

.form-control {
  font-size: 100%;
  height: auto;
}

.dropdown-select {
  width: auto;
}

.row {
  margin-left: 0;
}

.qm-divider-sm {
  margin: 10px 10px 10px 0px;
  width: 25%;
}

.qm-divider {
  border-top: 3px solid #eee;
}

/***
 * Additional
 */

.col1 {
  width: 20em;
  float: left;
}

.col {
  margin-left: 22px;
}

input[type="text"], input[type="password"], input[type="checkbox"] {
  margin-bottom: 5px;
  width: auto;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.grades_box,
.coaching_box {
  border: none;
  padding: 5px;
}

#PageContent {
  background-color: #fff;
}

.spacer-sm {
  height: 40px;
  width: 10px;
}

.DataTable {
  margin: 0 7px;
}

.GridHeader {
  background-color: #eaeaea;
  text-align: left;
}

.GridHeader td {
  padding: 3px 5px;
  font-weight: bold;
}

.GridRow td {
  padding: 3px;
}

#FooterWrapper {
  background-color: #ddd;
  padding: 50px 30px;
  height: 100px;
  width: 100%;
  clear: both;
}


